.content {
	width: 100%;
	display: grid !important;
	grid-template-columns: auto auto 1fr auto;
	column-gap: 10px;
	padding: 0 calc(var(--margin) + 1px) !important;

	& > a {
		& > img {
			height: 35px;
		}
	}

	& > button {
		width: 170px;
		height: 40px;
	}
}
