@font-face {
	src: url('./fonts/Montserrat-Light.ttf');
	font-family: 'Montserrat';
	font-weight: 300;
}
@font-face {
	src: url('./fonts/Montserrat-Regular.ttf');
	font-family: 'Montserrat';
	font-weight: 400;
}
@font-face {
	src: url('./fonts/Montserrat-Medium.ttf');
	font-family: 'Montserrat';
	font-weight: 500;
}
@font-face {
	src: url('./fonts/Montserrat-Bold.ttf');
	font-family: 'Montserrat';
	font-weight: 600;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Montserrat';
	user-select: none;
	-webkit-user-drag: none;
}

body {
	margin: 0;
	--radius: 10px;
	--secondary: #e81168;
	--primary: #1876d2;
	--margin: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
